.MIblack {
    background-color: #141115;
}
.MIblacktxt {
    color: #141115 ;
}
.MIblue {
    background-color: #05668D;
}
.MIbluetxt {
    color: #05668D;
}
.MIlblue {
    background-color: #A9BCD0;
}
.MIlbluetxt {
    color: #A9BCD0;
}
.MIcream {
    background-color: #F0F3BD;
}
.MIcreamtxt {
    color: #F0F3BD;
}
.MIbrown{
    background-color: #46351D;
}
.MIbrowntxt{
    color: #46351D;
}
.MIpurple {
    background-color: #B8336A;
}
.MIpurpletxt {
    color: #B8336A;
}
.MIgreen {
    background-color: #307351;
}
.MIgreentxt {
    color: #307351;
}
.MIorange {
    background-color: #CA5310;
}
.MIorangetxt {
    color: #CA5310;
}
